@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

// color
$black: #121212;
$darkBlue:#052962;
$secondaryBlue:#005689;
$darkerBlue:#041f4a;
$backgroundGrey:#f6f6f6;
//font
$titlepiece:"Guardian Titlepiece","Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
$headline:"Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
$textSans:"Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
//border
$scribbleBorder: url('https://uploads.guim.co.uk/2020/01/30/bye-brits-scribble-small.png');





.gs-container {
    padding-bottom: 50px;
    @include mq(desktop){
        padding-bottom: 100px;
        border: 1px solid white;
        border-image: $scribbleBorder 27 27 27 27 round stretch;
        border-top:none;
        border-bottom:none;
    }
}

.header-wrapper {
    overflow: hidden;
    background-color: $darkBlue;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    40% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.big-goodbye {
    
    animation: fadeIn 1.5s ease;
    font-family:$titlepiece;
    color: #ffe500;
    position: absolute;
    z-index: 8;
    
    margin-left: 10px;
    font-size: 70px;
    margin-top: 429px;
    @include mq(mobileMedium){
        font-size: 84px;
        margin-top: 564px;
    }
    @include mq(mobileLandscape){
        font-size: 109px;
        margin-top: 285px;
    }
    @include mq(phablet){
        font-size: 152px;
        margin-top: 416px;
    }
    @include mq(tablet){
        font-size: 167px;
        margin-top: 709px;
    }
    @include mq(desktop){
        margin-left: calc((100vw - 1024px) / 2 + 20px);
        font-size: 209px;
        margin-top: 319px;
    }
    @include mq(leftCol){
        margin-left: calc((100vw - 1140px) / 2 + 20px);
        font-size: 226px;
        margin-top: 371px;
    }
    @include mq(wide){
        margin-left: calc((100vw - 1300px) / 2 + 20px);
        font-size: 280px;
        margin-top: 349px;
    }
}



.spacer {
    height: 13px;
    width:100%;
    @include mq(tablet){
        height:20px;
    }
    @include mq(wide){
        height:70px;
    }
}

.bye-brits {
    background-color:$backgroundGrey;
    color:$black;
    &__header {
        background-image:url("https://uploads.guim.co.uk/2020/01/29/newspaper_online_24.png");
        background-size:cover;
        filter: contrast(1.2);
        background-repeat:no-repeat;
        background-position: center -12px;
        background-color:$darkBlue;

        width:100%;
        height:510px;
        z-index:6;
        @include mq(mobileMedium){
            height:660px;
        }
        @include mq(mobileLandscape){
            height: 410px;
            background-position: center -17px;
        }
        @include mq(phablet){
            height:590px;
            background-size:140vh;
            background-position: center -27px;
        }
        @include mq(tablet){
            height:900px;
        }
        @include mq(desktop){
            height:559px;
            background-size:150vh;
            background-position: center -147px;
        }
        @include mq(leftCol){
            background-position:center -107px;
            background-size:157vh;
            height: 630px;
        }
        @include mq(wide) {
            height: 670px;
        }
        // @keyframes skew {
        //     0%{
        //         transform:skew(0deg, 0deg);
        //     }
        //     25%{
        //         transform:skew(0.5deg, 0.5deg);
        //     }
        //     50% {
        //         transform:skew(0deg, 0deg);
        //     }
        //     75% {
        //         transform:skew(-0.5deg, -0.5deg);
        //     }
        //     100% {
        //         transform:skew(0deg, 0deg);
        //     }
        // }
        // animation:skew 5s linear infinite;


        &__line {
            border-top: 1px solid white;
            border-image: $scribbleBorder 27 27 27 27 round stretch;
            width:calc(100vw - 12px);
            margin-left:0px;
            margin-top: 12px;
            @include mq(desktop){
                margin-top: 20px;
                margin-left:0;
                width:880px;
            }
            @include mq(leftCol){
                width: 960px;
            }
            @include mq(wide){
                width: 1040px;
            }
        }

        &__goodbye-brits {
                font-family:$titlepiece;
                font-size:16vw;
                line-height: 115%;
                color:$darkBlue;
                margin-left:0;
                margin-top:0;

                &.stickme {
                  background-color: $backgroundGrey;
                  width: calc(98vw);
                  position: fixed;
                  top: -1px;
                  font-size: 32px;
                  @include mq(mobileMedium){
                    font-size:36px;
                  }
                  @include mq(desktop){
                    font-size: 60px;
                  }
                  padding-top: 3px;
                  padding-bottom: 0;
                  padding-left: 1%;
                  opacity: 0;
                  z-index: 10;
                  span {
                      margin-left:8px;
                      @include mq(desktop){
                          margin-left:10px;
                      }
                      @include mq(leftCol){
                          margin-left:90px;
                      }
                      @include mq(wide){
                          margin-left:160px;
                      }
                  }

                  &.showme {
                    opacity: 1;
                  }
                }
        }
    }

    &__headline {
        font-family:$headline;
        font-weight:200;
        font-size:20px;
        line-height:115%;
        width: calc(100vw - 24px);
        margin-left: 12px;
        margin-top: 5px;
        @include mq(mobileMedium){
            font-size:22px;
        }
        @include mq(phablet){
            width:calc(100vw - 190px);
        }
        @include mq(tablet){
            width: 610px;
            margin-left: 20px;
        }
        @include mq(desktop) {
            margin-top:0;
            font-size:34px;
            width: 620px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide){
            margin-left:180px;
        }
    }
    &__byline {
        font-family:$textSans;
        color:#999;
        margin-left: 12px;
        margin-top: 17px;
        font-size: 15px;
        line-height: 115%;
        width: calc(100vw - 24px);
        @include mq(mobileMedium){
            width:calc(100vw - 40px);
        }
        @include mq(phablet){
            width:calc(100vw - 220px);
            margin-left: 12px;
        }
        @include mq(tablet){
            margin-left: 20px;
        }
        @include mq(desktop){
            width: 600px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide) {
            margin-left: 180px;
        }
    }
    &__nav-wrapper {
        background-color:$backgroundGrey;
        width:100%;
        position:sticky;
        top:37px;
        padding-top:10px;
        @include mq(desktop){
            padding-top:20px;
            top:60px;
        }
    }
    &__nav {
        margin-top:10px;
        background-color: $backgroundGrey;
        z-index: 9;
        margin-left: 12px;
        width:calc(100vw - 24px);
        @include mq(mobileMedium){
            margin-top: 20px;
        }
        @include mq(tablet){
            margin-left: 12px;
            width: calc(100vw - 24px);
        }
        @include mq(desktop){
            margin-left:20px;
            width:860px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide) {
            background-color:#fff;
            margin-top:20px;
            margin-left: 178px;
        }
        &__dropbtn {
            border: 0.1em solid white;
            border-image: $scribbleBorder 27 27 27 27 round stretch;
            font-family: $textSans;
            font-size: 15px;
            font-weight: 600;
            text-align: left;
            background-color: $backgroundGrey;
            display: flex;
            justify-content: space-between;
            padding:8px;
            width:100%;
            @include mq(wide) {
                width:860px;
            }
            &__text {
                margin-top:-2px;
            }
        }
        &__dropbtn:hover {
            &__downarrow{
                transform:translateY(3px);
            }
            &__text {
                border-bottom:1px solid white;
                border-image: $scribbleBorder 27 27 27 27 stretch;
            }
        }

        &__dropdown-content {
            display:flex;
            flex-direction:column;
            width: calc(100vw - 24px);
            @include mq(tablet){
                width: calc(100vw - 40px);
            }
            @include mq(desktop){
                width:860px;
            }
        }
        &__dropdown-item div {
            border: 1px solid white;
            border-image: $scribbleBorder 27 27 27 27 stretch;
            border-top:none;
            padding:8px;
            background-color:$backgroundGrey;
            a {
                text-decoration: none;
                color: #121212;
                font-size: 15px;
                @include mq(mobileLandscape){
                    font-size: 17px;
                }
                @include mq(tablet){
                    font-size:20px;
                }
                span {
                    font-weight: 600;
                }
            }
        }
        &__dropdown-item {
            a:hover {
                color:$secondaryBlue;
                border-bottom:1px solid white;
                border-image: $scribbleBorder 27 27 27 27 stretch;
            }
        }
    }


    &__content {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        display:flex;
        flex-direction: column;
        height:auto;
        width:calc(100vw - 24px);
        // @include mq(mobileLandscape){
        //     &:nth-child(odd){
        //         flex-direction: row-reverse;
        //     }
        // }
        @include mq(mobileLandscape){
            flex-direction:row;
            min-height: 230px;
        }
        @include mq(leftCol){
            flex-direction: row;
            margin-left:100px;
        }
        @include mq(desktop) {
            width: calc(100vw - 120px);
            margin-left:20px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide){
            width:calc(1300px - 440px);
            min-height: 280px;
            margin-left:180px;
        }
        &__left {
            margin-right:20px;
            @include mq(mobileLandscape){
                margin-right:12px;
            }
            @include mq(desktop){
                margin-right:20px;
            }
        }
        &__right {
            @include mq(mobileLandscape){
                width:260px;
            }
            @include mq(phablet){
                width:400px;
            }
            @include mq(tablet){
                width:100%;
            }
            @include mq(desktop){
                margin-top: 8px;
            }

            &.clicked .bye-brits__content__text p {
                display:block;
            }
        }



        &__image {
            img {
                height:auto;
                width:calc(100vw - 24px);
                border-radius: 50%;
                margin-bottom:8px;
                @include mq(mobileLandscape){
                    width: auto;
                    height: 180px;
                }
                @include mq(desktop){
                    height:230px;
                }
                @include mq(wide){
                    height: 290px;
                }
            }
        }
        &__country {
            margin-top: -3px;

            h5 {
                display:flex;
                flex-direction: row;
                font-weight:600;
                font-size:20px;
                line-height:115%;
            }
        }
        &__name {
            color:$darkBlue;
            h3 {
                font-family:$titlepiece;
                font-size:36px;
                line-height: 105%;
                margin-top: -1px;
                
                @include mq(mobileLandscape){
                    font-size:34px;
                }
                @include mq(phablet){
                    font-size:36px;
                }
                @include mq(desktop){
                    width:600px;
                    font-size:50px;
                }
                @include mq(wide){
                    width: 550px;
                }
            }
        }
        &__bio {
            margin-top:-7px;
            h4{
                font-weight:200;
                font-size:20px;
            }
            @include mq(mobileLandscape){
                margin-top:-5px;
            }
        }
        &__readmore {
            border: 1px solid white;
            
            border-image: $scribbleBorder 27 27 27 27 round stretch;
            display: flex;
            width: 110px;
            justify-content: space-between;
            margin-top:22px;
            a {
                color:$darkBlue;
                font-family:$textSans;
                font-weight:bold;
                text-decoration:none;
                margin-top: 4px;
                margin-bottom: 6px;
                padding-left: 12px;
                // &::after {
                //     content: '';
                //     background-image: url(https://uploads.guim.co.uk/2020/01/31/plus.svg);
                //     background-size: cover;
                //     width: 20px;
                //     height: 20px;
                //     position: absolute;
                //     margin-left: 43px;
                //     margin-top: 2px;
                // }
            }
            svg {
                margin-top:6.5px;
                margin-right:8px;
            }
        }
        &__text {
            margin-top: -10px;
            p {
                font-size: 17px;
                margin-top: 10px;
                line-height:135%;
                display:none;
                &:nth-child(1){
                    display:block;
                }
            }
        }

        .intro {
            font-family: $headline;
            font-weight: 200;
            line-height: 115%;
            font-size: 22px;
            margin-top:20px;
            width: 290px;
            @include mq(mobileLandscape){
                width: 264px;
            }
            @include mq(desktop){
                width: 460px;
            }
            
         }

         .intro::before{
            content: '';
            background-image: url(https://uploads.guim.co.uk/2020/01/29/GU-singlequote-texture.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            float: left;
            margin-top: 5px;
            height: 16px;
            width: 19px;
            margin-right: -2px;
         }
    }
}


.meta__extras {
    border:none;
    width: calc(100vw - 24px);
    margin-left: 12px;
    margin-top: 1px;
    @include mq(phablet){
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: calc(100vw - 502px);
        margin-left: 12px;
        margin-top: -174px;
        right:9px;
    }
    @include mq(tablet){
        margin-top: -155px;
    }
    @include mq(desktop){
        width: calc(100vw - 782px);
        right: 97px;
        margin-top:-175px;
    }
    @include mq(leftCol){
        right:176px;
    }
    @include mq(wide){
        right: 256px;
        margin-top:-178px;
    }
}
.meta__numbers {
    margin-right: 3px;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


br {
    display: block;
    margin: 10px 0;
 }

 .dropbtn {
    cursor: pointer;
  }
  .dropbtn:focus {
      outline:none;
  }

  .dropdown {
    margin-top: 0;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    height: 240px;
    @include mq(desktop){
        height:360px;
    }
  }

  .dropdown-content a {
    text-decoration: none;
  }

  .show {
      display: block;
      & .bye-brits__nav__dropbtn__downarrow {
        transform:rotate(180deg);
        }
    }


  .anchor {
      height: 50px;
      &:nth-child(1) {
          height: 10px;
      }
  }



  .clicked a::after{
    transform:rotate(45deg);
    margin-left:50px;
  }

