@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

// Palette
$black: #121212;
$darkBlue:#052962;
$secondaryBlue:#005689;

.gs-container {
    @include mq(desktop){
        border: 1px solid transparent;
        border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 round stretch;
        border-top:none;
        border-bottom:none;
    }
}


.bye-brits {
    overflow: hidden;
    color:$black;
    &__header {
        // background-image:url("https://uploads.guim.co.uk/2020/01/28/newspaper_web.png");
        background-image:url("https://uploads.guim.co.uk/2020/01/29/newspaper_online_24.png");
        background-size:160vh;
        background-repeat:no-repeat;
        background-position: center;
        @include mq(mobileMedium){
            background-size:120vh;
        }
        @include mq(phablet){
            background-size:130vh;
        }
        @include mq(desktop){
            background-size:180vh;
        }
        width:100%;
        background-color:$darkBlue;
        height:80vh;
        z-index:10;
        @include mq(desktop){
            height:65vh;
        }
        @include mq(leftCol){
            height:70vh;
        }
        @include mq(wide) {
            height:70vh;
        }
        @keyframes skew {
            0%{
                transform:skew(0deg, 0deg);
            }
            25%{
                transform:skew(1deg, 1deg);
            }
            50% {
                transform:skew(0deg, 0deg);
            }
            75% {
                transform:skew(-1deg, -1deg);
            }
            100% {
                transform:skew(0deg, 0deg);
            }
        }
        animation:skew 5s linear infinite;
        &__line {
            border-top: 1px solid transparent;
            border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 round stretch;
            width:calc(100vw - 24px);
            margin-left:12px;
            margin-top: 12px;
            @include mq(desktop){
                margin-top: 20px;
                margin-left:0;
                width:720px;
            }
            @include mq(wide){
                width:800px;
            }
        }

        // &__goodbye-brits {
        //     font-family:"Guardian Titlepiece","Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
        //     font-size:28px;
        //     color:white;
        //     text-align:right;
        //     position: absolute;
        //     bottom: -11px;
        //     right: 8px;
        //     @include mq(mobileMedium){
        //         font-size:33px;
        //         bottom:-12px;
        //     }
        //     @include mq(mobileLandscape){
        //         font-size: 43px;
        //         bottom: -15px;
        //     }
        //     @include mq(phablet){
        //         font-size: 59px;
        //         bottom: -21px;
        //     }
        //     @include mq(tablet) {
        //         font-size: 67px;
        //         bottom: -24px;
        //     }
        //     @include mq(desktop){
        //         font-size:89px;
        //         bottom:-33px;
        //     }
        //     @include mq(leftCol) {
        //         font-size: 103px;
        //         bottom: -38px;
        //     }
        //     @include mq(wide) {
        //         font-size:118px;
        //         bottom: -42px;
        //         right: 12px;
        //     }
        //     span {
        //         color:yellow;
        //     }
        // }
        // &__goodbye-brits {
        //     font-family:"Guardian Titlepiece","Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
        //     font-size:32px;
        //     line-height: 115%;
        //     color:$darkBlue;
        //     margin-left:12px;
        //     margin-top:0;
        //     @include mq(mobileMedium){
        //         font-size:38px;
        //     }
        //     @include mq(mobileLandscape){
        //         font-size:42px;
        //     }
        //     @include mq(phablet){
        //         font-size: 60px;
        //     }
        //     @include mq(tablet){
        //         font-size:76px;
        //         margin-left:20px;
        //     }
        //     @include mq(desktop){
        //         font-size:80px;
        //         margin-top:0;
        //     }
        //     @include mq(leftCol){
        //         margin-left:100px;
        //     }
        //     @include mq(wide){
        //         margin-left:180px;
        //     }
        // }
        &__goodbye-brits {
                font-family:"Guardian Titlepiece","Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
                font-size:22vw;
                line-height: 115%;
                color:$darkBlue;
                margin-left:0;
                margin-top:0;
        }
    }

    &__headline {
        font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia,serif;
        font-weight:200;
        font-size:20px;
        line-height:115%;
        width: calc(100vw - 24px);
        margin-left: 12px;
        @include mq(mobileMedium){
            font-size:22px;
        }
        @include mq(phablet){
            width:calc(100vw - 190px);
        }
        @include mq(tablet){
            width: 610px;
            margin-left: 20px;
        }
        @include mq(desktop) {
            margin-top:0;
            font-size:34px;
            width: 620px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide){
            margin-left:180px;
        }
    }
    &__byline {
        font-family:"Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        color:#999;
        margin-left: 12px;
        margin-top: 12px;
        font-size: 15px;
        line-height: 115%;
        width: calc(100vw - 24px);
        @include mq(mobileMedium){
            width:calc(100vw - 40px);
        }
        @include mq(phablet){
            width:calc(100vw - 220px);
            margin-left: 12px;
        }
        @include mq(tablet){
            margin-left: 20px;
        }
        @include mq(desktop){
            width: 440px; 
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide) {
            margin-left: 180px;
        } 
    }
    &__nav {
        padding-top:10px;
        background-color: white;
        z-index: 9;
        margin-left: 12px;
        width:calc(100vw - 24px);
        @include mq(mobileMedium){
            padding-top: 20px;
            padding-bottom: 9px;
        }
        @include mq(tablet){
            margin-left: 20px;
            width: calc(100vw - 40px);
        }
        @include mq(desktop){
            width:860px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide) {
            background-color:#fff;
            padding-top:20px;
            padding-bottom:10px;
            margin-left: 178px;
        }
        &__dropbtn {
            border: 0.1em solid transparent;
            border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 round stretch;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size: 15px;
            font-weight: 600;
            text-align: left;
            background-color: white;
            display: flex;
            justify-content: space-between;
            padding:8px;
            width:100%;
            @include mq(wide) {
                width:860px;
            }
            &__text {
                margin-top:-2px;
            }
        }
        &__dropbtn:hover {
            &__downarrow{
                transform:translateY(3px);
            }
            &__text {
                border-bottom:1px solid transparent;
                border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 stretch;
            }
        }

        &__dropdown-content {
            display:flex;
            flex-direction:column;
            width: calc(100vw - 24px);
            @include mq(tablet){
                width: calc(100vw - 40px);
            }
            @include mq(desktop){
                width:860px;
            }
        }
        &__dropdown-item {
            border: 1px solid transparent;
            border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 stretch;
            border-top:none;
            padding:8px;
            background-color:white;
            a {
                text-decoration: none;
                color: #121212;
                font-size: 15px;
                @include mq(mobileLandscape){
                    font-size: 17px;
                }
                @include mq(tablet){
                    font-size:20px;
                }
                span {
                    font-weight: 600;
                }
            }
        }
        &__dropdown-item:hover {
            a {
                color:$secondaryBlue;
                border-bottom:1px solid transparent;
                border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 stretch;
            }
        }
    }


    &__content {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        margin-top:36px;
        @include mq(desktop) {
            margin-left:20px;
        }
        @include mq(leftCol){
            margin-left:100px;
        }
        @include mq(wide){
            margin-left:180px;
        }
        &__image {
            
            // background-image:url(https://media.guim.co.uk/77378756d65206ec228ce5eb02ec2fb014e956c2/1198_0_4792_4792/2000.jpg);
            // background-size:cover;
            // background-repeat:no-repeat;
            @include mq(mobileLandscape){
                width: 100%;
                height: 300px;
            }
            @include mq(wide){
                width:300px;
                height:auto;
            }
            img {
                height:auto;
                width:calc(100vw - 24px);
                border-radius: 50%;
                // background-color:$darkBlue;
                @include mq(mobileLandscape){
                    width: auto;
                height: 300px;
                }
            }
        }
        &__country {
            margin-top: -3px;
            
            img {
                width: 25px;
                height: 16px;
                margin-top: 3px;
                margin-right: 7px;
            }
            h5 {
                display:flex;
                flex-direction: row;
                font-weight:200;
                font-size:20px;
                line-height:115%;
            }
        }
        &__name {
            color:$darkBlue;
            h3 {
            font-size:36px;
            font-weight:bold;
            line-height: 105%;
            margin-top: 1px;
            }
        }
        &__bio {
            margin-top:-2px;
            h4{
                font-style: italic;
            }
        }
        &__readmore {
            
            border: 1px solid transparent;
            border-image: url('https://uploads.guim.co.uk/2020/01/27/bye-brits-scribble.png') 27 27 27 27 round stretch;
            display: flex;
            width: 160px;
            justify-content: flex-start;
            a {
                color:$darkBlue;
                font-family:"Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                font-weight:bold;
                text-decoration:none;
                margin-top: 1px;
                margin-bottom: 6px;
                padding-left: 12px;
            }
        }
        &__text {
            margin-top: -10px;
            p {
                font-size:17px;
                line-height:135%;
                display:none;
                &:nth-child(1){
                    display:block;
                }
            }
        }
        .show p {
            display:block;
        }
    }
    // css grid
    &__content {  
        display: grid;
        grid-template-columns: calc(100vw - 24px); 
        grid-template-rows:24px 0fr 0fr 34px 2fr 30px;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        
        &__country { grid-area: 1 / 1 / 2 / 2; } 
        &__image { grid-area: 2 / 1 / 3 / 2; } 
        &__name { grid-area: 3 / 1 / 4 / 2; } 
        &__bio { grid-area: 4 / 1 / 5 / 2; } 
        &__text { grid-area: 5 / 1 / 6 / 2; } 
        &__readmore { grid-area: 6 / 1 / 7 / 2; } 


        @include mq(mobileLandscape){
            grid-template-rows:24px 0 0fr 34px 2fr 30px;
        }

        @include mq(tablet){
            grid-template-columns: 300px 20px 530px; 
            grid-template-rows: 21px 44px 38px 24px 2fr 30px;; 
            grid-column-gap: 0px;
            grid-row-gap: 0px; 

            &__image { grid-area: 1 / 1 / 7 / 2; } 
            &__gap { grid-area: 1 / 2 / 7 / 3; } 
            &__country { grid-area: 1 / 3 / 2 / 4; } 
            &__name { grid-area: 2 / 3 / 3 / 4; } 
            &__bio { grid-area: 3 / 3 / 4 / 4; } 
            &__text { grid-area: 4 / 3 / 6 / 4; } 
            &__readmore { grid-area: 6 / 3 / 7 / 4; } 
        }

        &:nth-child(even) {
            grid-template-rows:24px 0fr 0fr 34px 2fr 30px;
        }
    }         
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


br {
    display: block;
    margin: 10px 0;
 }


 .intro {
    font-weight: 200;
    line-height: 115%;
    font-size: 22px;
    padding-top: 20px;
 }

 .intro::before{
    content: '';
    background-image: url(https://uploads.guim.co.uk/2020/01/29/GU-singlequote-texture.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-top: 4px;
    height: 18px;
    width: 19px;
 }







 .dropbtn {
    cursor: pointer;
  }
  .dropbtn:focus {
      outline:none;
  }
  
  .dropdown {
    margin-top: 0;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    height: 240px;
    @include mq(desktop){
        height:360px;
    }
  }
  
  .dropdown-content a {
    text-decoration: none;
  }
  
  .show {display: block;}